<div class="page-width">
  {% section 'main-product' %}
</div>

{% comment %}
  Product template - the main-product section renders product details.
  Sections can be customized in the Shopify theme editor.
{% endcomment %}
